#file-name-span {
    margin: 10px;
    font-size: 12px;
    font-weight: 500;
}

#image-upload {
    display: none;
}

.preview-image {
    max-width: 40vw;
    max-height: 30vh;
    margin: 5px 0;
}

.loading-circle-container {
    margin: 5px 0;
}

.MuiCircularProgress-circle {
    color: var(--color-brown)
}

.image-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image-preview-container {
    align-content: center;
}

.image-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.single {
    width: 100%;
}