#body-container {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title-container {
  background-color: var(--color-brown);
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-white)
}

#content-container {
  height: calc(100dvh - 50px);
  overflow-y: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 20px;
  text-align: center;
}

h2 {
  font-size: 13px;
  font-weight: 600;
  margin: 5px 0;
}

h3 {
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 5px 0;
}

.icons {
  margin: 0 5px 0 0;
}

/* DESKTOP CSS */
@media (min-width: 600px) {
  #body-container {
    width: 600px;
  }
}